{% sw_extends '@Storefront/storefront/layout/footer.html.twig' %}

{#
    H1 Theme Footer - Based on Figma Design
    Design: https://www.figma.com/design/meHFNqt42k9ca1N5KcAfN5/H1-Shopware-Theme?node-id=35-1512

    Structuur volgens Figma:
    1. Newsletter banner (donker #111111)
    2. USP bar (Free Shipping, Fast delivery, Money-Back Guarantee, Secure Payments)
    3. Footer kolommen (Partner, Help Center, Company, Shop by category, Contact)
    4. Copyright bar (licht #EEEEEE)

    Kleuren:
    - Primary: #F25305 (oranje)
    - Secondary: #111111 (donker)
    - White: #FFFFFF
    - Gray: #666666
    - Border: #DDDDDD
    - Light: #EEEEEE

    Font: Inter
#}

{% block base_footer %}
    <footer class="footer-main h1-footer">
        {# Newsletter Section #}
        {% block layout_footer_h1_newsletter %}
            <div class="h1-footer-newsletter">
                <div class="container">
                    <div class="h1-footer-newsletter-content">
                        <div class="h1-footer-newsletter-text">
                            <h3 class="h1-footer-newsletter-title">Subscribe & get 10% OFF for first order</h3>
                            <p class="h1-footer-newsletter-subtitle">By proceeding, you confirm that you accept our privacy policy and terms.</p>
                        </div>
                        <form class="h1-footer-newsletter-form">
                            <div class="h1-footer-newsletter-input-wrapper">
                                <input type="email" placeholder="Enter your email address" class="h1-footer-newsletter-input">
                                <button type="submit" class="h1-footer-newsletter-button">Signup</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endblock %}

        {# USP Bar #}
        {% block layout_footer_h1_usp %}
            <div class="h1-footer-usp">
                <div class="container">
                    <div class="h1-footer-usp-items">
                        <div class="h1-footer-usp-item">
                            <span class="h1-footer-usp-icon">{% sw_icon 'delivery-truck' %}</span>
                            <span class="h1-footer-usp-text">FREE SHIPPING</span>
                        </div>
                        <div class="h1-footer-usp-item">
                            <span class="h1-footer-usp-icon">{% sw_icon 'clock' %}</span>
                            <span class="h1-footer-usp-text">FAST DELIVERY</span>
                        </div>
                        <div class="h1-footer-usp-item">
                            <span class="h1-footer-usp-icon">{% sw_icon 'checkmark-circle' %}</span>
                            <span class="h1-footer-usp-text">MONEY-BACK GUARANTEE</span>
                        </div>
                        <div class="h1-footer-usp-item">
                            <span class="h1-footer-usp-icon">{% sw_icon 'lock' %}</span>
                            <span class="h1-footer-usp-text">SECURE PAYMENTS</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {# Footer Columns #}
        {% block layout_footer_h1_columns %}
            <div class="h1-footer-columns">
                <div class="container">
                    <div class="h1-footer-columns-grid">
                        {# Partner Column #}
                        <div class="h1-footer-column">
                            <h4 class="h1-footer-column-title">Partner</h4>
                            <ul class="h1-footer-column-links">
                                <li><a href="#">Become Seller</a></li>
                                <li><a href="#">Affiliate</a></li>
                                <li><a href="#">Advertise</a></li>
                                <li><a href="#">Partnership</a></li>
                            </ul>
                        </div>

                        {# Help Center Column #}
                        <div class="h1-footer-column">
                            <h4 class="h1-footer-column-title">Help Center</h4>
                            <ul class="h1-footer-column-links">
                                <li><a href="#">Customer Service</a></li>
                                <li><a href="#">Policy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Track Order</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Product Support</a></li>
                            </ul>
                        </div>

                        {# Company Column #}
                        <div class="h1-footer-column">
                            <h4 class="h1-footer-column-title">Company</h4>
                            <ul class="h1-footer-column-links">
                                <li><a href="#">About Shopware</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Career</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Sitemap</a></li>
                                <li><a href="#">Store Locations</a></li>
                            </ul>
                        </div>

                        {# Shop by Category Column #}
                        <div class="h1-footer-column">
                            <h4 class="h1-footer-column-title">Shop by category</h4>
                            <ul class="h1-footer-column-links">
                                <li><a href="#">Computer</a></li>
                                <li><a href="#">Telephony</a></li>
                                <li><a href="#">Kitchen</a></li>
                                <li><a href="#">Cameras</a></li>
                                <li><a href="#">Smartwatches</a></li>
                                <li><a href="#">Navigation</a></li>
                                <li><a href="#">Televisions</a></li>
                                <li><a href="#">Audio & Hi-Fi</a></li>
                            </ul>
                        </div>

                        {# Contact Column #}
                        <div class="h1-footer-column h1-footer-column-contact">
                            <div class="h1-footer-logo">
                                {# Logo hier #}
                            </div>
                            <div class="h1-footer-contact-info">
                                <p class="h1-footer-hours">Mon-Fri, 9 am - 5 pm</p>
                                <p class="h1-footer-phone">(0180) - 000000</p>
                            </div>
                            <div class="h1-footer-address">
                                <p>Marconistraat 16, 3029 AK, Rotterdam</p>
                                <p>The Netherlands</p>
                                <p><a href="mailto:info@shopware.com">info@shopware.com</a></p>
                            </div>
                            <div class="h1-footer-social">
                                {# Social media icons #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {# Copyright Bar #}
        {% block layout_footer_h1_copyright %}
            <div class="h1-footer-copyright">
                <div class="container">
                    <div class="h1-footer-copyright-content">
                        <p class="h1-footer-copyright-text">Copyright &copy; shopware AG - All rights reserved</p>
                        <div class="h1-footer-payment-icons">
                            {# Payment icons: Mastercard, Visa, PayPal, Klarna, etc. #}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </footer>
{% endblock %}
