{% sw_extends '@Storefront/storefront/layout/footer.html.twig' %}

{#
    H1 Theme Footer - Based on Figma Design
    Design: https://www.figma.com/design/meHFNqt42k9ca1N5KcAfN5/H1-Shopware-Theme?node-id=35-1512

    Dit template voegt H1 styling toe aan de standaard Shopware footer.
    De dynamische content (navigatie kolommen, service menu, etc.) blijft intact.

    H1 Design elementen:
    1. Newsletter banner (donker #111111)
    2. USP bar (Free Shipping, Fast delivery, Money-Back Guarantee, Secure Payments)
    3. Footer kolommen (dynamisch uit Shopware admin)
    4. Copyright bar (licht #EEEEEE)
#}

{% block base_footer %}
    <footer class="footer-main h1-footer">
        {# H1 Newsletter Section - Boven de standaard footer content #}
        {% block layout_footer_h1_newsletter %}
            <div class="h1-footer-newsletter">
                <div class="container">
                    <div class="h1-footer-newsletter-content">
                        <div class="h1-footer-newsletter-text">
                            <h3 class="h1-footer-newsletter-title">Subscribe & get 10% OFF for first order</h3>
                            <p class="h1-footer-newsletter-subtitle">By proceeding, you confirm that you accept our privacy policy and terms.</p>
                        </div>
                        <form class="h1-footer-newsletter-form">
                            <div class="h1-footer-newsletter-input-wrapper">
                                <input type="email" placeholder="Enter your email address" class="h1-footer-newsletter-input">
                                <button type="submit" class="h1-footer-newsletter-button">Signup</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endblock %}

        {# H1 USP Bar #}
        {% block layout_footer_h1_usp %}
            <div class="h1-footer-usp">
                <div class="container">
                    <div class="h1-footer-usp-items">
                        <div class="h1-footer-usp-item">
                            <span class="h1-footer-usp-icon">{% sw_icon 'delivery-truck' %}</span>
                            <span class="h1-footer-usp-text">FREE SHIPPING</span>
                        </div>
                        <div class="h1-footer-usp-item">
                            <span class="h1-footer-usp-icon">{% sw_icon 'clock' %}</span>
                            <span class="h1-footer-usp-text">FAST DELIVERY</span>
                        </div>
                        <div class="h1-footer-usp-item">
                            <span class="h1-footer-usp-icon">{% sw_icon 'checkmark-circle' %}</span>
                            <span class="h1-footer-usp-text">MONEY-BACK GUARANTEE</span>
                        </div>
                        <div class="h1-footer-usp-item">
                            <span class="h1-footer-usp-icon">{% sw_icon 'lock' %}</span>
                            <span class="h1-footer-usp-text">SECURE PAYMENTS</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {# Dynamische Shopware footer content met H1 styling #}
        {% block base_footer_inner %}
            <div class="h1-footer-columns">
                {% sw_include '@Storefront/storefront/layout/footer/footer.html.twig' %}
            </div>
        {% endblock %}

        {# H1 Copyright Bar #}
        {% block layout_footer_h1_copyright %}
            <div class="h1-footer-copyright">
                <div class="container">
                    <div class="h1-footer-copyright-content">
                        <p class="h1-footer-copyright-text">{{ 'footer.copyrightInfo'|trans|sw_sanitize }}</p>
                        <div class="h1-footer-payment-icons">
                            {# Payment icons worden gerenderd in de footer/footer.html.twig #}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </footer>
{% endblock %}
